<!-- TODO: Put your HTML code in here -->
<div class="container text-center">

  <div class="row middle-page">

    <div class="col-xs-12 col-md-8 middle-page" >
      <ul>
        <%3.times do%>
          <div class="col-xs-12 col-md-4">
            <div class="card-white">
              <h3>Exemplo</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
              </p>
            </div>
          </div>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-4">
      <form action="" class="form-inline">
        <div class="form-group">
          <input type="text" id="address" placeholder="Address" class="form-control">
          <input type="submit" id="submit_address" class="btn btn-primary" value="Submit">
        </div>
      </form>

      <div id="map" style="height: 500px"></div>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
