<div class="container">


  <div class="card-meeting-new">


    <div class="col-xs-12 col-md-12">
      <a><%= link_to "Back", root_path, class: "btn btn-primary" %></a>
      <h1>Novo Evento</h1>
      <h2>Crie aqui o seu evento!</h2>
      <p>  Os campos com * são obrigatórios</p>


      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= render partial: 'form' %>
        </div>

        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'escalada.jpg', height: '650px', width: '100%' %>
        </div>
      </div>


    </div>
  </div>
</div>






