// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F4F4F4;

$green: #CBE86B;
$cream: #F2E9E1;
$black: #1C140D;
$white: #FFFFFF;
$dark-red: #450606;
$dark-grey: #666666;


