body {
 font-weight: 100;
 font-size: 16px;
 line-height: 1.4;
 color: $black;
}

h2 {
  font-weight: 200;
  font-size: 25px;
  padding: 20px;
  color: white;
}

.wrapper-blue {
 background: $green;
 color: white;
 padding: 2em 0;
}
.wrapper-grey {
 background: #EDEFF0;
 color: #4e4e4e;
}

#header {

 color: #828282;
 padding: 30px;
}

.banner {
 color: $white;
 height: 86vh;
 background-size: cover !important;
  h1 {
    color: $white;
    font-size: 60px;
  }
}

.banner-content {
  text-shadow: 0.1em 0.1em #333
}

.placeholder {
 color: grey;
 padding: 41px;
}

.button-create-show {
  padding: 25px;
  background-color: none;


  color: #828282;
  padding: 34px;
}


.background-red {
  background-color: #450606;
}

.color-white {
  color: white;
}


.btn-color {
  background-color: rgba(0,0,0,0);
  text-shadow: none;

}


.background-option {
  background-color: $cream;
}
