
<div class="card card-coach text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category"><%= meeting.date.strftime("%d/%m/%Y") %></div>
  <div class="card-description">
    <h2 class="card-title"><%= meeting.category %></h2>
  </div>
  <span class="card-user"><i class="fa fa-users" aria-hidden="true"></i> <%= meeting.group_size %></span>
  <%= link_to meeting_path(meeting) do %>
  <% end %>
</div>
