<div class="review">
  <p class="text-right">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
  </p>
  <p class="review-content"><%= ["Sou uma pessoa melhor despois desta aula", "Não tenho palavras pra descrever como essa aula é boa", "Melhor experiência da minha vida", "Queria que essa aula durasse eternamente"].sample %><p>
</div>
