<div class="container">
  <div class="row show">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div id="perfil">

          <div class="flex-box">
            <div id="avatar">
              <%= image_tag "http://placehold.it/100x100", class: "img-circle" %>
            </div>

            <div>
              <h4 id="nome">Fora Temer!</h4>
              <p id="sobre">Mimimimi mimimi mimimimi mimimimi mimimimimimi </p>
            </div>
          </div>

          <div id="category-description">
            <h5>Derrubada de presidente golpista</h5>
            <p>Mimimimimimi mimimi mimi mimimimi mimimimimi mimimi mimimimi</p>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="meetings show">
          <h5 class="text-center">Veja outros encontros agendados</h5>
          <div class="text-center">
            <% 3.times do %>
              <%= render 'card' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="map" style="height: 300px"></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="reviews show">
        <div class="text-center">
          <h4>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </h4>
        </div>
        <h4 class="text-center">Reviews</h4>

        <% 5.times do %>
          <%= render 'review' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>

$(function(){

  $("#submit").click(function(e){
    e.preventDefault();

    var address = $("#address").val();
    var url = "https://maps.googleapis.com/maps/api/geocode/json?"
    var position = {};

    $.ajax({
      type: "GET",
      url: url,
      data: {
        address : address,
        sensor : false
      },
      success: function(data) {
        position.lat = data.results[0].geometry.location.lat;
        position.lng = data.results[0].geometry.location.lng;
        $("#display-coordinates").empty().append("<li class='list-group-item'>Latitude: " + position.lat + "</li>").append("<li class='list-group-item'>Longetude: " + position.lat + "</li>");
        var map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: position.lat, lng: position.lng },
                    zoom: 15
                  });
        var marker = new google.maps.Marker({
                        position: position,
                        map: map
                      });
      },
      error: function(jqXHR) {
        console.error(jqXHR.responseText);
      }
    });
  });

});

</script>
