<div class="container">
  <div class="row show">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div id="perfil">

          <div class="flex-box">
            <div id="avatar">
              <%= image_tag "http://placehold.it/100x100", class: "img-circle" %>
            </div>

            <div>
              <h4 id="nome"><%= "#{@user.first_name} #{@user.last_name}"  %></h4>
              <p id="sobre">Aqui vai a descrição do coach</p>
            </div>
          </div>

          <div id="category-description">
            <h5>Atividade</h5>
            <p>Aqui vai a descrição da atividade</p>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="meetings show">
          <h5 class="text-center">Veja outros encontros agendados</h5>
          <div class="text-center">
            <% @user.meetings.each do |meeting| %>
              <%= render "card", meeting: meeting %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="map" style="height: 300px"></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="reviews show">
        <div class="text-center">
          <h4>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </h4>
        </div>
        <h4 class="text-center">Reviews</h4>

        <% 4.times do %>
          <%= render 'review' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>

