<<<<<<< HEAD
<div class="text-center">

<div id="header">
      <h1>make me move</h1>
    </div>

    <div class="wrapper-blue">
      <h2>Encontre <strong>seu coach</strong> por cidade ou esporte</h2>
      <p>[add form once model is ready]</p>
    </div>

    <div class="wrapper-grey">
      <div class="container">
        <h2>Nós selecionamos <strong>Coaches</strong> para <strong>você</strong></h2>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="card-white">
              <h3>Mo Farah</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="card-white">
              <h3>Neymar Jr.</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="card-white">
              <h3>Federer</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



